#formToggle:hover {
    text-decoration: underline;
}

#subButton:hover {
    background-color: lightgray;
}

#centered {
    text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    #card {
        /* padding: 8em; */
    }
}